.color-primary {
    color: #fff;
    background-color: var(--color-primary);
}

.color-secondary {
    color: #fff;
    background-color: var(--color-secondary);
}

.size-sm {
    min-height: 2.8125rem;
}

.size-lg {
    min-height: 3.75rem;
}

.is-clickable {
    cursor: pointer;
}

.is-dragable {
    cursor: grab;
    user-select: none;
}